<div class="fridge-dialog-container">
  <div class="fridge-dialog-title">
    <span *ngIf="data.mode === 'add'"><h4>Add to the fridge</h4></span>
    <span *ngIf="data.mode === 'remove'"><h4>Remove from the fridge</h4></span>
  </div>
  <div class="fridge-search-container">
    <ng-multiselect-dropdown
      [placeholder]="'Select your ingredients'"
      [settings]="dropdownSettings"
      [data]="dropdownList"
      [(ngModel)]="selectedItems"
      (onSelect)="onSelect($event)"
      (onDeSelect)="onDeselect($event)"
    ></ng-multiselect-dropdown>
  </div>
  <div class="quantity-select-container">
    <div class="row">
      <ng-container *ngFor="let ingredient of selectedItems; let i = index">
        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
          <div class="container-input-quantity">
            <div class="row mat-elevation-z1">
              <div class="col-4" style="margin-top: 0.6rem!important;">
                <span class="ingredient-name">{{ingredient.item_text | limitCharacters: [6, '..']}}</span>
              </div>
              <div class="col-2" style="margin-right: 0.3rem">
                <mat-form-field appearence="outline" class="quantity-input">
                  <input matInput [name]="ingredient.item_text" [(ngModel)]="selectedDetails[i].quantity">
                </mat-form-field>
              </div>
              <div class="col-5">
                <mat-form-field appearance="outline" class="type-select">
                  <mat-label>Measure</mat-label>
                  <mat-select matInput name="type" [(ngModel)]="selectedDetails[i].type">
                    <mat-option value="g">grams</mat-option>
                    <mat-option value="piece">piece/s</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <span style="font-size: 0.65rem; color: gray;">{{selectedDetails[i].conversionType}} to {{selectedDetails[i].conversion}} grams</span>
        </div>
      </ng-container>
    </div>
  </div>
  <div mat-dialog-actions style="text-align:center">
    <button mat-raised-button class="save-fridge-button" cdkFocusInitial (click)="onSubmit()">Save</button>
    <button mat-raised-button class="cancel-fridge-button" (click)="onNoClick()">Cancel</button>
  </div>
</div>

