<div class="login-container">
  <mat-card class="login-card">
    <div class="login-header">
      <h4>Reset Password</h4>
    </div>
    <div style="margin-bottom: 1rem;"><span>Please enter your email address to request a password reset.</span></div>
    <form>
      <mat-form-field  class="login-input" appearance="outline">
        <input matInput type="text" placeholder="Email" required name="email" [(ngModel)]="email">
      </mat-form-field>
       <!-- Calling ForgotPassword from AuthService Api -->
       <button mat-raised-button class="login-button" (click)="authService.ForgotPassword(email)" type="submit">Send password reset</button>
    </form>
    <div style="margin-top: 1.5rem;">
      <button mat-raised-button class="login-button" type="button" routerLink="/sign-in">Go back to Login</button>
    </div>
  </mat-card>
</div>
