<div class="sidebar light-mode-sidebar" (mouseenter)="sidebarService.hoverOpenSidenav()" (mouseleave)="sidebarService.hoverCloseSidenav()"
[ngClass]="{
  'open': !sidebarService.isSmallScreen && sidebarService.isSidenavOpen,
  'hover-open': !sidebarService.isSmallScreen && sidebarService.isHoverOpen,
  'collapsed': !sidebarService.isSmallScreen && !sidebarService.isHoverOpen && !sidebarService.isSidenavOpen,
  'open-small': sidebarService.isSmallScreen && sidebarService.isSidenavOpen,
  'closed': sidebarService.isSmallScreen && !sidebarService.isSidenavOpen,
  'box-shadow-right': !sidebarService.isSmallScreen || (sidebarService.isSmallScreen && sidebarService.isSidenavOpen)
}"
>
<div class="logo-container">
  <a routerLink="/breakfasts" [queryParams]="{type: 'breakfast'}">
    <img class="logo-full" src="../assets//Logo.png" [@logo-appear]="(!sidebarService.isSmallScreen && (sidebarService.isHoverOpen || sidebarService.isSidenavOpen)) || (sidebarService.isSmallScreen && sidebarService.isSidenavOpen) ? 'open' : 'close'" />
    <img class="logo-mini" src="../assets//Logo-mini.png" *ngIf="!sidebarService.isSmallScreen && !sidebarService.isSidenavOpen && !sidebarService.isHoverOpen"/>
  </a>
</div>
<ul class="sidenav-list">
  <li *ngIf="!activeUser" class="light-mode-sidebar-hover" [ngClass]="{'active-show' : !(sidebarService.isSmallScreen && !sidebarService.isSidenavOpen)}" [routerLinkActive]="['active-sidenav-item']">
    <a routerLink='/sign-in' style="cursor: pointer">
      <div>
        <span class="sidenav-list-icon" *ngIf="!(sidebarService.isSmallScreen && !sidebarService.isSidenavOpen)"><mat-icon class="material-icons" aria-hidden="false" fontIcon='person_add'></mat-icon></span>
        <span class="sidenav-list-title" [@word-appear]="(sidebarService.isSidenavOpen && !sidebarService.isSmallScreen) || (sidebarService.isSmallScreen && sidebarService.isSidenavOpen) || sidebarService.isHoverOpen ? 'open' : 'close'">Sign In</span>
      </div>
    </a>
  </li>
  <ng-container *ngFor="let item of authSidenavItems">
    <li *ngIf="activeUser as user" class="light-mode-sidebar-hover" [ngClass]="{'active-show' : !(sidebarService.isSmallScreen && !sidebarService.isSidenavOpen)}" [routerLinkActive]="['active-sidenav-item']">
      <a *ngIf="item.title !== 'Snacks' && item.title !== 'Breakfasts' && item.title !== 'Meals'" routerLink={{item.route}}>
        <div>
          <span class="sidenav-list-icon" *ngIf="!(sidebarService.isSmallScreen && !sidebarService.isSidenavOpen)"><mat-icon class="material-icons" aria-hidden="false" fontIcon={{item.icon}}></mat-icon></span>
          <span class="sidenav-list-title" [@word-appear]="(sidebarService.isSidenavOpen && !sidebarService.isSmallScreen) || (sidebarService.isSmallScreen && sidebarService.isSidenavOpen) || sidebarService.isHoverOpen ? 'open' : 'close'">{{item.title}}</span>
        </div>
      </a>
      <a *ngIf="item.title === 'Snacks' || item.title === 'Breakfasts' || item.title === 'Meals'" routerLink={{item.route}} [queryParams]="{type: item.title.toLowerCase().slice(0,-1)}">
        <div>
          <span class="sidenav-list-icon" *ngIf="!(sidebarService.isSmallScreen && !sidebarService.isSidenavOpen)"><mat-icon class="material-icons" aria-hidden="false" fontIcon={{item.icon}}></mat-icon></span>
          <span class="sidenav-list-title" [@word-appear]="(sidebarService.isSidenavOpen && !sidebarService.isSmallScreen) || (sidebarService.isSmallScreen && sidebarService.isSidenavOpen) || sidebarService.isHoverOpen ? 'open' : 'close'">{{item.title}}</span>
        </div>
      </a>
    </li>
  </ng-container>
  <ng-container *ngFor="let item of sidenavItems" >
    <li class="light-mode-sidebar-hover"
      [ngClass]="{'active-show' : !(sidebarService.isSmallScreen && !sidebarService.isSidenavOpen)}" [routerLinkActive]="['active-sidenav-item']">
      <a *ngIf="item.title !== 'Snacks' && item.title !== 'Breakfasts' && item.title !== 'Meals'" routerLink={{item.route}}>
        <div>
          <span class="sidenav-list-icon" *ngIf="!(sidebarService.isSmallScreen && !sidebarService.isSidenavOpen)"><mat-icon class="material-icons" aria-hidden="false" fontIcon={{item.icon}}></mat-icon></span>
          <span class="sidenav-list-title" [@word-appear]="(sidebarService.isSidenavOpen && !sidebarService.isSmallScreen) || (sidebarService.isSmallScreen && sidebarService.isSidenavOpen) || sidebarService.isHoverOpen ? 'open' : 'close'">{{item.title}}</span>
        </div>
      </a>
      <a *ngIf="item.title === 'Snacks' || item.title === 'Breakfasts' || item.title === 'Meals'" routerLink={{item.route}} [queryParams]="{type: item.title.toLowerCase().slice(0,-1)}">
        <div>
          <span class="sidenav-list-icon" *ngIf="!(sidebarService.isSmallScreen && !sidebarService.isSidenavOpen)"><mat-icon class="material-icons" aria-hidden="false" fontIcon={{item.icon}}></mat-icon></span>
          <span class="sidenav-list-title" [@word-appear]="(sidebarService.isSidenavOpen && !sidebarService.isSmallScreen) || (sidebarService.isSmallScreen && sidebarService.isSidenavOpen) || sidebarService.isHoverOpen ? 'open' : 'close'">{{item.title}}</span>
        </div>
      </a>
    </li>
  </ng-container>
  <li *ngIf="activeUser as user" class="light-mode-sidebar-hover" [ngClass]="{'active-show' : !(sidebarService.isSmallScreen && !sidebarService.isSidenavOpen)}">
      <a (click)="userLogout()" style="cursor: pointer">
        <div>
          <span class="sidenav-list-icon" *ngIf="!(sidebarService.isSmallScreen && !sidebarService.isSidenavOpen)"><mat-icon class="material-icons" aria-hidden="false" fontIcon='logout'></mat-icon></span>
          <span class="sidenav-list-title" [@word-appear]="(sidebarService.isSidenavOpen && !sidebarService.isSmallScreen) || (sidebarService.isSmallScreen && sidebarService.isSidenavOpen) || sidebarService.isHoverOpen ? 'open' : 'close'">Logout</span>
        </div>
      </a>
    </li>
</ul>
</div>
<section class="home-section"
(swipeleft)="sidebarService.closeSidebarOnSmall()"
(swiperight)="sidebarService.openSidebarOnSmall()"
(click)="sidebarService.closeSidebarOnSmall()" [ngClass]="{
'fridge': activeRoute === '/fridge',
'profile': activeRoute === '/profile' || activeRoute === '/sign-in' || activeRoute === '/register-user' || activeRoute === '/forgot-password' || activeRoute === '/verify-mail-address',
'meal': activeRoute.includes('/meals'),
'breakfast': activeRoute.includes('/breakfasts'),
'snack': activeRoute.includes('/snacks'),
'stats': activeRoute === '/stats',
'planner': activeRoute === '/planner'
}">
<div class="wrapper">
  <app-loading></app-loading>
  <button mat-mini-fab class="show-sidebar-button" type="button" (click)="sidebarService.toggleSidenav()">
    <mat-icon *ngIf="sidebarService.isSidenavOpen" aria-label="Side nav toggle icon">more_vert</mat-icon>
    <mat-icon *ngIf="!sidebarService.isSidenavOpen" aria-label="Side nav toggle icon">view_list</mat-icon>
  </button>
  <router-outlet></router-outlet>
</div>
</section>
